# Asset Hub
ASSET_APP_PORT=18800
APP_TIMEZONE=Asia/Taipei
BALANCE_GOAL=1949

# Sure
SURE_IMAGE=ghcr.io/we-promise/sure:stable
SURE_PORT=13030
SURE_API_KEY=
SURE_DEFAULT_ACCOUNT_ID=
SURE_POSTGRES_USER=sure_user
SURE_POSTGRES_PASSWORD=change-me
SURE_POSTGRES_DB=sure_production
SURE_SECRET_KEY_BASE=
SURE_ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=
SURE_ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=
SURE_ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=

# NutriTrace
NUTRITRACE_IMAGE=traceapps/nutritrace:latest
NUTRITRACE_PORT=18761
NUTRITRACE_JWT_SECRET=
NUTRITRACE_USERNAME=
NUTRITRACE_PASSWORD=

# LiftTrace
LIFTTRACE_IMAGE=ghcr.io/traceapps/lifttrace:latest
LIFTTRACE_PORT=18762
LIFTTRACE_JWT_SECRET=
LIFTTRACE_USERNAME=
LIFTTRACE_PASSWORD=
