<div class="container loginForm">
    <div class="row">
        <div class="col">
            <form [formGroup]="formGroup" (submit)="addTransLog(formGroup)">

                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="transDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div class="form-group has-feedback">
                    <select class="custom-select custom-select-sm" formControlName="type" placeholder="please select the type" required>
                        <option value="" selected disabled>please select the type</option>
                        <option *ngFor="let type of this.getTypeOptions()" value="{{type}}">{{type}}</option>
                    </select>
                    <span class="glyphicon form-control-feedback"
                        *ngIf="formGroup.controls['type'].invalid">
                        <span *ngIf="formGroup.controls['type'].errors">
                            <pre *ngIf="formGroup.controls['type'].errors['required']">the type is necessary</pre>
                        </span>
                    </span>
                </div>

                <div class="form-group has-feedback">
                    <select class="custom-select custom-select-sm" formControlName="category" placeholder="please select the category" required>
                        <option value="" selected disabled>please select the category</option>
                        <option *ngFor="let category of this.getCategoryOptions()" value="{{category}}">{{category}}</option>
                    </select>
                    <span class="glyphicon form-control-feedback"
                        *ngIf="formGroup.controls['category'].invalid">
                        <span *ngIf="formGroup.controls['category'].errors">
                            <pre *ngIf="formGroup.controls['category'].errors['required']">the category is necessary</pre>
                        </span>
                    </span>
                </div>


                <div class="form-group has-feedback">
                    <input type="text" class="form-control form-input" formControlName="name"
                        placeholder="please enter the name" required>
                    <span class="glyphicon form-control-feedback"
                        *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)">
                        <span *ngIf="formGroup.controls['name'].errors">
                            <pre *ngIf="formGroup.controls['name'].errors['required']"> the name is required </pre>
                        </span>
                    </span>
                </div>

                <div class="form-group has-feedback">
                    <input type="number" class="form-control form-input" formControlName="value"
                        placeholder="please enter the value" required>
                    <span class="glyphicon form-control-feedback"
                        *ngIf="formGroup.controls['value'].invalid && (formGroup.controls['value'].dirty || formGroup.controls['value'].touched)">
                        <span *ngIf="formGroup.controls['value'].errors">
                            <pre *ngIf="formGroup.controls['value'].errors['required']"> the value is required & only number </pre>
                        </span>
                    </span>
                </div>

                <div class="form-group has-feedback">
                    <input type="text" class="form-control form-input" formControlName="ps"
                        placeholder="please enter the ps">
                </div>



                <div *ngIf="!formGroup.valid">
                    <button id="requiredMsg" type="submit" class="btn btn-default submit" [disabled]="true">plz check the all required fileds</button>
                </div>
                <div *ngIf="formGroup.valid">
                    <button *ngIf="!formGroup.value.id" id="submit" type="submit" class="btn btn-default submit"
                        [disabled]="!formGroup.valid">add trans log</button>
                    <button *ngIf="formGroup.value.id" id="submit" type="submit" class="btn btn-default submit"
                        [disabled]="!formGroup.valid">update trans log</button>
                </div>
            </form>
        </div>
    </div>
</div>