<div class="calcform">
    <form [formGroup]="formGroup">
        <mat-form-field appearance="fill" style="width: 10%;">
            <mat-label>loop cycle</mat-label>
            <mat-select formControlName="key">
                <div *ngFor="let keySelect of this.keySelects">
                    <mat-option value="keySelect.key">{{keySelect.text}}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>
        |
        <mat-form-field appearance="fill" style="width: 25%;">
            <mat-label>Enter value</mat-label>
            <input matInput placeholder="若無負值則當income" formControlName="value" type="number">
        </mat-form-field>
        |
        <mat-form-field appearance="fill" style="width: 10%;">
            <mat-label>Purpose</mat-label>
            <mat-select formControlName="purpose">
                <div *ngFor="let purposeSelect of this.purposeSelects">
                    <mat-option value="purpose.key">{{purposeSelect.text}}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>
        |
        <mat-form-field appearance="fill" style="width: 45%;">
            <mat-label>Enter Description</mat-label>
            <input matInput placeholder="描述" formControlName="description" type="text">
        </mat-form-field>
    </form>
</div>