<div class="loginForm">

<p>edit-calc-config</p>

<form [formGroup]="formGroup" (submit)="saveCalc(formGroup)">

    <mat-form-field appearance="fill" style="width: 50%;">
        <mat-label>loop cycle</mat-label>
        <mat-select formControlName="key">
            <div *ngFor="let keySelect of this.keySelects">
                <mat-option value="{{keySelect.key}}">{{keySelect.text}}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>


    <div class="form-group has-feedback">
        <input type="text" class="form-control form-input" formControlName="value" placeholder="please enter the value"
            required>
        <span class="glyphicon form-control-feedback"
            *ngIf="formGroup.controls['value'].invalid && (formGroup.controls['value'].dirty || formGroup.controls['value'].touched)">
            <span *ngIf="formGroup.controls['value'].errors">
                <pre *ngIf="formGroup.controls['value'].errors['required']"> the value is required </pre>
            </span>
        </span>
    </div>

    <mat-form-field appearance="fill" style="width: 50%;">
        <mat-label>Purpose</mat-label>
        <mat-select formControlName="purpose">
            <div *ngFor="let purposeSelect of this.purposeSelects">
                <mat-option value="{{purposeSelect.key}}">{{purposeSelect.text}}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>

    <div class="form-group has-feedback">
        <input type="text" class="form-control form-input" formControlName="description" placeholder="please enter the value"
            required>
        <span class="glyphicon form-control-feedback"
            *ngIf="formGroup.controls['description'].invalid && (formGroup.controls['description'].dirty || formGroup.controls['description'].touched)">
            <span *ngIf="formGroup.controls['description'].errors">
                <pre *ngIf="formGroup.controls['description'].errors['required']"> the description is required </pre>
            </span>
        </span>
    </div>


    <div *ngIf="!formGroup.valid">
        <button id="requiredMsg" type="submit" class="btn btn-default submit" [disabled]="true">plz check the all
            required fileds</button>
    </div>
    <div *ngIf="formGroup.valid">
        <button id="submit" type="submit" class="btn btn-default submit" [disabled]="!formGroup.valid">save change</button>
    </div>

</form>

</div>