<div class="container loginForm">
    <div class="row">
        <div class="col">
            <form [formGroup]="formGroup" (submit)="addCalendarEvent(formGroup)">

                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateStr" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>



                <div class="form-group has-feedback">
                    <input type="text" class="form-control form-input" formControlName="title"
                        placeholder="please enter the event" required>
                    <span class="glyphicon form-control-feedback"
                        *ngIf="formGroup.controls['title'].invalid && (formGroup.controls['title'].dirty || formGroup.controls['title'].touched)">
                        <span *ngIf="formGroup.controls['title'].errors">
                            <pre *ngIf="formGroup.controls['title'].errors['required']"> the event is required </pre>
                        </span>
                    </span>
                </div>

                <div class="form-group has-feedback">
                    <input type="text" class="form-control form-input" formControlName="start"
                        placeholder="please select the start" required readonly [ngxTimepicker]="appendedToStart">
                    <ngx-material-timepicker #appendedToStart [appendedToStart]="true" [theme]="darkTheme">
                    </ngx-material-timepicker>
                    <span class="glyphicon form-control-feedback"
                        *ngIf="formGroup.controls['start'].invalid && (formGroup.controls['start'].dirty || formGroup.controls['start'].touched)">
                        <span *ngIf="formGroup.controls['start'].errors">
                            <pre *ngIf="formGroup.controls['start'].errors['required']"> the start is required </pre>
                        </span>
                    </span>
                </div>

                <div class="form-group has-feedback">
                    <input type="text" class="form-control form-input" formControlName="end"
                        placeholder="please select the end" required readonly [ngxTimepicker]="appendedToEnd">
                    <ngx-material-timepicker #appendedToEnd [appendedToEnd]="true" [theme]="darkTheme">
                    </ngx-material-timepicker>
                    <span class="glyphicon form-control-feedback"
                        *ngIf="formGroup.controls['end'].invalid && (formGroup.controls['end'].dirty || formGroup.controls['end'].touched)">
                        <span *ngIf="formGroup.controls['end'].errors">
                            <pre *ngIf="formGroup.controls['end'].errors['required']"> the end is required </pre>
                        </span>
                    </span>
                    <span class="glyphicon form-control-feedback"
                        *ngIf="formGroup.errors">
                        <pre
                            *ngIf="formGroup.errors['timeRangeValidErr']"> {{formGroup.errors['timeRangeValidErr']}}</pre>
                    </span>
                </div>

                <div *ngIf="!formGroup.valid">
                    <button id="requiredMsg" type="submit" class="btn btn-default submit" [disabled]="true">plz check
                        the all
                        required fileds</button>
                </div>
                <div *ngIf="formGroup.valid">
                    <button *ngIf="!this.calendarEvent.id" id="submit" type="submit" class="btn btn-default submit" [disabled]="!formGroup.valid">add
                        event</button>
                    <button *ngIf="this.calendarEvent.id" id="submit" type="submit" class="btn btn-default submit" [disabled]="!formGroup.valid">save
                            event</button>
                </div>
                <div>
                    <button *ngIf="this.calendarEvent.id" id="requiredMsg" type="button" class="btn btn-default submit" (click)="deleteConfirm(this.calendarEvent.id)">delete
                        event</button>
                </div>
            </form>
        </div>
    </div>
</div>