<div class="container">
    <div class="row">
        <div class="col">
            <p>CONFIG RESET HOME</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><hr></div>
        <div class="col-12">
            <button type="button" class="btn btn-light" (click)="resetConfirm('deposit')">reset ur deposit-logs</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><hr></div>
        <div class="col-12">
            <button type="button" class="btn btn-light" (click)="resetConfirm('calc')">reset ur calc-config</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><hr></div>
        <div class="col-12">
            <button type="button" class="btn btn-light" (click)="resetConfirm('calendar')">reset ur calendar-events</button>
        </div>
    </div>
</div>